.chat-app nav {
  display: flex;
  align-items: center;
  height: 60px;
  background: var(--primary-nav);
  padding: 0 20px;
  position: relative;
}

nav h1 {
  color: white;
  margin: auto;
}

.user-avatar {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-avatar div {
  color: var(--lunar);
  font-weight: bold;
}

.nav-avatar {
  margin-right: 10px;
}

.user-avatar:hover .nav-avatar {
  opacity: 0.8;
}

.profile {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile h4 {
  line-height: 2;
}

.smack-app {
  display: flex;
  height: calc(100vh - 60px);
}

.profile div {
  max-width: fit-content;
}

.profile-avatar:hover {
  cursor: pointer;
  opacity: 0.8;
}

.profile-btn-container {
  display: flex;
}

.update-btn-disabled {
  background: #c1e2eb;
}

.update-btn-disabled:hover {
  background: #c1e2eb;
  cursor: auto;
}
